# Installation

* Mysql repository (dpkg) installation

```console
sudo dpkg -i mysql.deb
```

* Appropriate version of the package should be selected

```console
sudo apt install mysql-server mysql-shell
```

# Startup

```console
mysql
```

* Access denied for the current user

```console
sudo mysql
```

# Create an User

```sql
alter user 'root'@'localhost' identified with caching_sha2_password by '<pwd>'
```

* identified with (caching_sha2_password, mysql_native_password)
* some backends require mysql_native_password

```sql
create user 'somebody'@'localhost' identified with caching_sha2_password by '<pwd>'
``` 

```sql
drop user '<user-to-remove>'@'<host>'
```

```sql
flush privileges
```

* Semicolons are intentionally omitted

# Give Privileges (User Scopes)

```sql
show grants for '<user>'@'<host>'
```

```sql
grant <privileges> on <database>.<table> to '<user>'@'<host>'
```

```sql
grant all privileges on *.* to '<user>'@'<host>' with grant option
```

* flush privileges is unnecessary

```sql
revoke <privileges> on <database>.<table> from '<user>'@'<host>'
```

# Get Info

```sql
show databases
```

```sql
show tables from <database>
```

```sql
show columns from <table>
```

# Enable Loading Local Infile

```sql
show global variables like 'local_infile'
```

* local_infile == off

```sql
set global local_infile = 'ON'
```

# Load Database from Local Infile

```console
mysqlsh -u 'root' -p
```

```javascript
util.loadDump('airport-db',{threads:4, deferTableIndexes:'all', ignoreVersion:true})
```

# Clauses

### Count Rows

```sql
select count(*) as row_n_table0 from <table0> union all
select count(*) as row_n_table1 from <table1> union all
select count(*) as row_n_table2 from <table2> order by row_n_table0
```

### Group By Agg Count

```sql
select <table.column>, <aggfunc> from <table> where <table.column> <cond>
group by <table.column> order by <table.column> limit 10
```

### Group By Agg Count Mean

```sql
select <table.column.categorical>, avg(<table.column.contiguous>) as avg_per_category, count(*) as count_per_category from <table>
where <table0.id>=<table1.id> and <cond>
order by <table.column.categorical> limit 10
```

### Group By Agg Count Diff

```sql
select <table.column.categorical>, avg(datediff(flight_start,flight_end)) as avg_flight_time,
count(*) as count_flight from <table>
where <table0.id>=<table1.id> and <cond> order by <table.column.categorical> limit 10
```

### Partial String Match

```sql
select lowered from (
  select lower(<table.column>) as lowered from <table>
)
  where <cond> and <table.column> like 'ec%'
```

* Character match _
* Remainder match %